@font-face {
    font-family: 'MyFont';
    src: url('Slfont-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body
{
    background-color: #808080;
    font-size: 20px;
    font-family: 'MyFont';
}

.buttons
{
    width: 500px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;

    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.buttons a
{
    background-color: #606060;
    border: 0px;
    border-radius: 10px;
    transition-duration: 0.2s;

    font-size: 30px;
    font-weight: bold;
    font-family: 'MyFont';

    flex: 1;
    margin: 0 5px;
    height: 80%;
}
.buttons a button
{
    background-color: rgba(0, 0, 0, 0);;
    border: 0px;
    border-radius: 10px;
    transition-duration: 0.2s;

    font-size: 32px;
    font-weight: bold;
    font-family: 'MyFont';

    width: 100%;
    height: 100%;
}
.buttons a:hover { background-color: #585858; border-radius: 20px; cursor: pointer; }
.buttons a:active { background-color: #505050; }

.CenterMain
{
    text-align: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.ver {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 60px;
    bottom: 15px;
    font-size: 30px;
    transform: translateX(-50%) translateY(-50%);
}